:root {
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-font-secondary: orangered;
    --color-font-secondary-plus: #000552;
    --color-minimalist-100: #dbdbdb;
    --color-minimalist-300: #a7c8ee;
    --color-minimalist-500: #57a3fa;
    --color-minimalist-700: #0073f7;
}

.main-container{
    background-color: var(--color-minimalist-100);
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
}

.travel-hero-section{
    /*background-image: url('../../../public/optimized-images/travel/webp/landscape-6.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    width: 100%;
    height: 100vh; 
    position: relative;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    z-index: 2;
}

.nav-left, .nav-right{
    display: flex;
    gap: 2rem;
    z-index: 2;
}

.nav-left{
    justify-content: flex-start;
}

.nav-right{
    justify-content: flex-end;
}

.nav-center{
    text-align: center;
    z-index: 2;
}

.nav-btn{
    border: none;
    background-color: transparent;
    padding-block: 1rem;
    transition: all 350ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-btn, .nav-div{
    opacity: 0;
}

.nav-div{
    margin-bottom: 1rem;
}

.nav-btn:hover, .nav-btn:focus{
    cursor: pointer;
    color: var(--color-font-secondary);
}

.nav-btn>h4, .nav-div>h4{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-font-secondary-plus);
}

.nav-btn-underline{
    margin-top: 1rem;
    width: 0%;
    height: 1px;
    background-color: var(--color-font-secondary);
    transition: all 350ms ease-in-out;
}

.nav-btn:hover>h4, .nav-btn:focus>h4{
    color: var(--color-font-secondary);
}

.nav-btn:hover>.nav-btn-underline, .nav-btn:focus>.nav-btn-underline{
    width: 100%;
}

.hero-text{
    padding-inline: 14rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.text-left{
    width: 50%; 
    z-index: 2;
}

.text-right{
    margin-top: 4rem;
    width: 40%; 
    z-index: 2;
    align-self: flex-end;
}

.text-left>h1{
    font-size: 5rem;
    line-height: 1;
    text-align: start;
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}

.text-right>h3{
    font-size: 2rem;
    text-align: end;
    color: var(--color-font-secondary);
    font-weight: bold;
    text-transform: lowercase;
    font-style: italic;
}

.img-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.img-overlay{
    width: 100%;
    height: 100%;
    background-color: var(--color-black-900);
    transform: translateY(-100%);
}

.travel-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    display: block;
    /*mask-image: url('../../../public/optimized-images/travel/rectangle.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;*/ 
}

.travel-about-section{

}

.travel-destinations-section{

}

.travel-reviews-section{
    
}

.travel-footer-section{
    
}

@media screen and (min-width: 1000px) and (orientation: portrait){
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: clamp(1rem, 3vw + .2rem, 4rem) clamp(4rem, 6vw + .5rem, 8rem);
    }

    .nav-left, .nav-right{
        gap: clamp(1rem, 3vw + .2rem, 6rem);
    }

    .nav-btn>h4, .nav-div>h4{
        font-weight: 500;
        font-size: clamp(1rem, 2vw + .2rem, 3rem);
    }

    .hero-text{
        padding-inline: clamp(2rem, 6vw + .2rem, 10rem);
    }

    .text-left{
        margin-top: clamp(10rem, 15vh + .2rem, 40rem);
    }

    .text-right{
        margin-top: clamp(5rem, 10vh + .5rem, 20rem);
    }

    .text-left>h1{
        font-size: clamp(2rem, 8vw + .5rem, 10rem);
    }

    .text-right>h3{
        font-size: clamp(1rem, 6vw + .3rem, 5rem);
    }

}

@media screen and (min-width: 1000px) and (orientation: landscape){
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: clamp(1rem, 3vw + .2rem, 4rem) clamp(4rem, 6vw + .5rem, 8rem);
    }

    .nav-left, .nav-right{
        gap: clamp(1rem, 3vw + .2rem, 6rem);
    }

    .nav-btn>h4, .nav-div>h4{
        font-weight: 500;
        font-size: clamp(1rem, 1vw + .1rem, 3rem);
    }

    .hero-text{
        padding-inline: clamp(2rem, 6vw + .2rem, 10rem);
    }

    .text-left{
        margin-top: clamp(1rem, 1vh + .2rem, 5rem); 
    }

    .text-right{
        margin-top: clamp(1rem, 1vh + .5rem, 5rem);
    }

    .text-left>h1{
        font-size: clamp(2rem, 6vw + .2rem, 10rem);
    }

    .text-right>h3{
        font-size: clamp(1rem, 3vw + .2rem, 6rem);
    }
    
}

@media screen and (max-width: 1000px) and (orientation: portrait){
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: clamp(1rem, 4vh + .2rem, 4rem) clamp(.5rem, 4vw + .2rem, 4rem);
    }

    .nav-left, .nav-right{
        gap: clamp(.5rem, 2vw + .1rem, 4rem);
    }

    .nav-btn>h4, .nav-div>h4{
        font-weight: 500;
        font-size: clamp(.5rem, 2vw + .1rem, 1rem);
    }

    .hero-text{
        padding-inline: clamp(1rem, 4vw + .5rem, 5rem);
    }

    .text-left{
        margin-top: clamp(1rem, 15vh + .5rem, 30rem);
        width: 100%; 
    }

    .text-right{
        margin-top: clamp(2rem, 12vh + .5rem, 20rem);
        width: 100%; 
        align-self: flex-start;
    }

    .text-left>h1{
        font-size: clamp(1rem, 8vw + .5rem, 8rem);
        text-align: center;
    }

    .text-right>h3{
        font-size: clamp(1rem, 6vw + .3rem, 4rem);
        text-align: center;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape){
    .travel-hero-section{
        height: clamp(100vh, 70vw + 5rem, 300vh);
    }

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: clamp(1rem, 3vh + .5rem, 4rem) clamp(.5rem, 1vw + .5rem, 4rem);
    }

    .nav-left, .nav-right{
        gap: clamp(.5rem, .5vw + .5rem, 2rem);
    }

    .nav-btn>h4, .nav-div>h4{
        font-weight: 500;
        font-size: clamp(.5rem, 2vw + .1rem, 1rem);
    }

    .hero-text{
        padding-inline: clamp(1rem, 4vw + .5rem, 5rem);
    }

    .text-left{
        margin-top: clamp(.5rem, 1vh + .1rem, 8rem);
        width: 100%; 
    }

    .text-right{
        margin-top: clamp(1rem, 2vh + .5rem, 8rem);
        width: 100%; 
        align-self: flex-start;
    }

    .text-left>h1{
        font-size: clamp(1rem, 8vw + .5rem, 8rem);
        text-align: center;
    }

    .text-right>h3{
        font-size: clamp(1rem, 6vw + .3rem, 4rem);
        text-align: center;
    }
}

