:root{
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-minimalist-100: #F8F8F8;
    --color-minimalist-200: #EBEBEB;
    --color-minimalist-300: #DADADA;
    --color-minimalist-400: #BBBBBB;
    --color-minimalist-500: #9B9B9B;
    --color-minimalist-600: #707070;
    --color-minimalist-700: #595959;
    --color-minimalist-800: #404040;
    --color-minimalist-900: #1E1E1E;
}


.text-type-1{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 72px;
    font-size: clamp(1.75rem, 4vw + 1rem, 4.5rem);
    font-weight: 700;
    text-transform: lowercase;
    line-height: 1;
    color: var(--color-white-100);
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);*/
}

.text-type-2{
    font-family: "Oswald", sans-serif;
    font-size: 128px;
    font-size: clamp(2rem, 6.5vw + 1.2rem, 8rem);
    font-weight: 700;
    text-transform: lowercase;
    line-height: 1;
    color: var(--color-white-100);
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);*/
}

.about-me-container{
    margin: 80px;
    margin-bottom: 0;
    padding: 80px 0;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.align-right{
    gap: 1rem;
    grid-column: 7 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.first-text{
    grid-column: 4 / -1;
}

.text-2{
    text-transform: uppercase;
    color: var(--color-white-100);
    text-shadow: 1px 1px 50px #14598b;
    filter: drop-shadow(1px 1px 10px #14598b);
}

.text-4{
    grid-column: 5 / -1;
}
.text-5{
    text-transform: uppercase;
    color: #092035;
    color: var(--color-white-100);
    text-shadow: 1px 1px 50px #14598b;
    filter: drop-shadow(1px 1px 10px #14598b);
}

.icons-area{
    padding-top: 160px;
    display: flex;
    flex: 1;
    flex-direction: column;
    grid-column: 2 / 5;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
}

.first-group, .second-group{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    
}

.icon-text-pair{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    
}

.icon-text-pair>h4{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    font-size: clamp(0.75rem, 1vw + 1rem, 2rem);
    font-weight: 200;
    line-height: 1;
    color: #092035;
    color: var(--color-white-100);
    
}

.second-group>.icon-text-pair:nth-child(1){
    filter: drop-shadow(1px 1px 10px #14598b);
}

.second-group>.icon-text-pair:nth-child(1)>img{
    filter: drop-shadow(1px 1px 10px #14598b);
}

.second-group>.icon-text-pair:nth-child(1)>h4{
    color: var(--color-white-100);
    text-shadow: 1px 1px 10px #14598b;
}

@media(max-width: 768px){
    .text-type-1{
        font-size: clamp(1.75rem, 2.5vw + 1rem, 3rem);
        line-height: 1.2;
    }

    .text-type-2{
        font-size: clamp(2rem, 5vw + 1.2rem, 4rem);
        line-height: 1.2;
    }

    .about-me-container{
        margin: 40px;
    }

    .icons-area{
        grid-column: 2 / 8;
        
    }

    .first-group, .second-group{
        gap: clamp(1rem, 2vw + 0.5rem, 2rem);

    }

    .icon-text-pair{
        gap: clamp(0.1rem, 1vw + 0.1rem, 1rem);

    }

    .icon-text-pair>h4{
        font-size: clamp(0.75rem, 1vw + 1rem, 2rem);
    }

}

@media(max-width: 480px){
    .text-type-1{
        font-size: clamp(1rem, 2vw + 1rem, 1.75rem);
        font-weight: 400;
        line-height: 1.2;
    }

    .text-type-2{
        font-size: clamp(1.75rem, 5vw + 1rem, 3rem);
        font-weight: 400;
        line-height: 1.2;
    }

    .text-2, .text-5{
        font-size: clamp(1.75rem, 6vw + 1rem, 3rem);
    }

    .about-me-container{
        margin: 20px 0;
        grid-template-columns: repeat(6, 1fr);
    }

    .align-right{
        grid-column: 3 / -1;
        justify-content: flex-start;
    }
    
    .first-text{
        grid-column: 1 / -1;
    }

    .text-4{
        grid-column: 1 / -1;
    }

    .icons-area{
        padding-top: 120px;
        grid-column: 1 / -1;
        gap: 1.2rem;
    }
    
    .first-group, .second-group{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .icon-text-pair>img{
        width: clamp(1rem, 2vw + 1rem, 1.875rem);
    }

    .icon-text-pair>h4{
        font-size: clamp(1rem, 2vw + 1rem, 1.875rem);
    }
}