:root{
    --color-100: #ebe3db;
    --color-300: #737375;
    --color-500: #595b66;
    --color-700: #3b4258;
    --color-900: #161819;
    --color-1000: #000000;
}

.about-me-container, .about-me-container>h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-container{
    padding: 1rem;
    margin-top: 1rem;
}

.about-me-container>h3{
    color: var(--color-100);
}

.about-me-container>h3>span{
    display: block;
    color: var(--color-300);
    font-size: 1.8rem;
    letter-spacing: .3rem;
    line-height: 1.5;
}

.about-me-container>p{
    text-align: center;
    color: var(--color-500);
    margin: 2rem 0 3rem;
}

.about-me-container>p>span{
    color: var(--color-300);
    
}

@media (min-width: 25em){
    .about-me-container>h3>span{
        font-size: 2.5rem;
    }

}

@media (min-width: 50em){
    .about-me-container>h3>span{
        font-size: 4rem;
        letter-spacing: .5rem;
    }

}