:root{
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-minimalist-100: #F8F8F8;
    --color-minimalist-200: #EBEBEB;
    --color-minimalist-300: #DADADA;
    --color-minimalist-400: #BBBBBB;
    --color-minimalist-500: #9B9B9B;
    --color-minimalist-600: #707070;
    --color-minimalist-700: #595959;
    --color-minimalist-800: #404040;
    --color-minimalist-900: #1E1E1E;
}

.text-container{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.text-1{
    grid-column: span 4;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 96px;
    font-weight: 700;
    color: var(--color-minimalist-500);
}
.text-2{
    grid-column: span 4;
    font-family: "Oswald", sans-serif;
    font-size: 96px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-minimalist-800);
}
.text-3{
    grid-column: 2/2;
    font-family: "Oswald", sans-serif;
    font-size: 128px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-minimalist-900);
}
.text-4{
    grid-column: span 4;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: var(--color-minimalist-500);
}
.text-5{
    grid-column: 2/2;
    font-family: "Oswald", sans-serif;
    font-size: 128px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-minimalist-900);
}