:root{
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-minimalist-100: #F8F8F8;
    --color-minimalist-200: #EBEBEB;
    --color-minimalist-300: #DADADA;
    --color-minimalist-400: #BBBBBB;
    --color-minimalist-500: #9B9B9B;
    --color-minimalist-600: #707070;
    --color-minimalist-700: #595959;
    --color-minimalist-800: #404040;
    --color-minimalist-900: #1E1E1E;
}

.text-type-1{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: lowercase;
    line-height: 1;
    color: var(--color-minimalist-300);
    color: #805c4b;  
}

.text-type-2{
    font-family: "Oswald", sans-serif;
    font-size: 128px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: var(--color-white-100);
    color: #5e4a3b;
    /*background-image: url(../../../img/blue_cut.png);
    background-clip: text;
    color: transparent;*/
}

.projects-container{
    margin: 80px;
    padding: 80px 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.card-area{
    grid-column: 1 / -1;
    margin-top: 5rem;

}

.small-card-items{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.individual-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.individual-item>h4{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    color: var(--color-minimalist-200);
}

.individual-item>a:hover, .individual-item>a:focus{
    cursor: pointer;
}

.individual-item>a:hover .small-img, .individual-item>a:focus .small-img{
    transform: rotateZ(4deg) scale(1.1);
}

.small-card-items>div:nth-child(1)>a:hover .small-img, .small-card-items>div:nth-child(1)>a:focus .small-img{
    transform: rotateZ(-4deg) scale(1.1);
}

.small-img{
    padding: 2rem;
    min-height: 80px;
    max-width: 320px;
    display: block;
    object-fit: cover;
    transform: rotateZ(3deg);
    transition: all 300ms ease-in-out;
}

.small-card-items>div:nth-child(2)>a>img{
    margin-top: 2rem;
    transform: rotateZ(-3deg);
}

.main-card{
    margin-top: 5rem;
    transition: all 250ms ease-in-out;
}

.text-area{
    grid-column: 1 / -1;
    
}