:root{
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-minimalist-100: #F8F8F8;
    --color-minimalist-200: #EBEBEB;
    --color-minimalist-300: #DADADA;
    --color-minimalist-400: #BBBBBB;
    --color-minimalist-500: #9B9B9B;
    --color-minimalist-600: #707070;
    --color-minimalist-700: #595959;
    --color-minimalist-800: #404040;
    --color-minimalist-900: #1E1E1E;
}

.text-type-1{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 72px;
    font-size: clamp(1.75rem, 4vw + 1rem, 4.5rem);
    font-weight: 700;
    text-transform: lowercase;
    line-height: 1;
    color: var(--color-white-100); 
}

.text-type-2{
    font-family: "Oswald", sans-serif;
    font-size: 128px;
    font-size: clamp(2rem, 6.5vw + 1.2rem, 8rem);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: var(--color-white-100);
}

.projects-container{
    margin: 80px;
    padding: 80px 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.card-area{
    grid-column: 1 / -1;
    margin-top: 5rem;

}

.small-card-items{
    display: flex;
    gap: 6rem;
    margin-bottom: 2rem;
}

.individual-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.individual-item>a{
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    border-radius: 4px;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: radial-gradient(125% 125% at 50% 0%, #010b19 0%, #2d6ec7);*/
    background-color: rgb(10, 10, 10);
    transition: all 300ms ease-in-out;
}

.overlay-img{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 0);
    width: 70%;
    height: 70%;
    display: block;
    object-fit: cover;
    opacity: 0.2;
}

.card-overlay>h4{
    margin: .5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    flex: 1;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: clamp(1rem, 2vw + .1rem, 2rem);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    color: var(--color-white-100);
}

.card-overlay>h4>span{
    font-size: clamp(.5rem, 2vw + .1rem, .8rem);
}

.card-overlay>p{
    padding-left: 50%;
    margin: .5rem;
    position: absolute;
    top: 0;
    right: 0;
    text-align: end;
    color: var(--color-white-100);
}

.stack-used{
    margin: .5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--color-white-100);
}

.card-icon{
    color: var(--color-white-100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-icon>*{
    width: 100%;
    height: 100%;
}

.individual-item>a:hover, .individual-item>a:focus{
    cursor: pointer;
    transform: rotateZ(4deg) scale(1.1);
}

.individual-item>a:hover .card-overlay, .individual-item>a:focus .card-overlay{
    transform: translateY(-100%);
}

.small-img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 300ms ease-in-out;
    z-index: 0;
}

.main-card{
    margin-top: 8rem;
    transition: all 250ms ease-in-out;
}

.text-area{
    grid-column: 1 / -1;
    
}

@media(max-width: 990px){
    .stack-used{
        margin: .5rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

@media(max-width: 768px){
    .text-type-1{
        font-size: clamp(1.75rem, 2.5vw + 1rem, 3rem);
        line-height: 1.2;
    }

    .text-type-2{
        font-size: clamp(2rem, 5vw + 1.2rem, 4rem);
        line-height: 1.2;
    }

    .projects-container{
        margin: 40px;
        grid-template-columns: repeat(6, 1fr);
    }

    .small-card-items{
        flex-direction: column;
    }

    .individual-item{
        gap: 1.5rem;
    }

    .card-overlay>h4{
        font-size: clamp(1rem, 1vw + 1rem, 2rem);
        line-height: 1.2;
        font-weight: 200;
    }
}

@media(max-width: 480px){
    .text-type-1{
        font-size: clamp(1.75rem, 5vw + 1rem, 3rem);
        font-weight: 400;
        line-height: 1.2;
    }

    .text-type-2{
        font-size: clamp(2.25rem, 8vw + 1.2rem, 5rem);
        font-weight: 400;
        line-height: 1.2;
    }

    .projects-container{
        margin: 20px 0;
        grid-template-columns: repeat(6, 1fr);
    }

    .small-card-items{
        flex-direction: column;
    }

    .individual-item{
        gap: 1.5rem;
    }

    .card-overlay>h4{
        font-size: clamp(0.5rem, 1vw + 1rem, 1rem);
        line-height: 1.2;
        font-weight: 200;
    }
}