.button{
    --color-100: #ebe3db;
    --color-300: #a79b90;
    --color-500: #9b8977;
    --color-700: #58483b;
    --color-900: #1a1714;
    --color-1000: #000000;
    border: 1px solid var(--color-1000);
    background-color: transparent;
    color: var(--color-1000);
    padding: 10px 40px;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
}

.button:hover{
  cursor: pointer;
}


