:root{
  --color-white-100: #FFFFFF;
  --color-black-900: #000000;
  --color-minimalist-100: #F8F8F8;
  --color-minimalist-200: #EBEBEB;
  --color-minimalist-300: #DADADA;
  --color-minimalist-400: #BBBBBB;
  --color-minimalist-500: #9B9B9B;
  --color-minimalist-600: #707070;
  --color-minimalist-700: #595959;
  --color-minimalist-800: #404040;
  --color-minimalist-900: #1E1E1E;
}

.button{
    border-style: none;
    background-color: var(--color-white-100);
    color: var(--color-black-900);
    padding: 10px 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    transition: all ease-in-out 250ms;
}

.button:hover{
  cursor: pointer;
  background-color: var(--color-black-900);
  color: var(--color-white-100);
}

@media (min-width: 25em){
  .button{
    padding: 15px 35px;
  }
}


