.button{
    --color-100: #ebe3db;
    --color-300: #737375;
    --color-500: #595b66;
    --color-700: #3b4258;
    --color-900: #161819;
    --color-1000: #000000;
    border: 1px solid var(--color-300);
    background-color: transparent;
    color: var(--color-300);
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    transition: all ease-in-out 250ms;
}

.button:hover{
  cursor: pointer;
  border: 1px solid var(--color-100);
  color: var(--color-100);
}

@media (min-width: 25em){
  .button{
    padding: 10px 40px;
  }
}


