:root{
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-minimalist-100: #F8F8F8;
    --color-minimalist-200: #EBEBEB;
    --color-minimalist-300: #DADADA;
    --color-minimalist-400: #BBBBBB;
    --color-minimalist-500: #9B9B9B;
    --color-minimalist-600: #707070;
    --color-minimalist-700: #595959;
    --color-minimalist-800: #404040;
    --color-minimalist-900: #1E1E1E;
}

.container{
    --shadow-color: var(--color-minimalist-400);
    --min-height: 400px;
    --min-width: 800px;
    /*background-color: var(--color-minimalist-200);*/
    min-width: var(--min-width);
    min-height: var(--min-height);
    position: relative;
    z-index: 1;
    opacity: 0.8;
    transition: all 300ms ease-in-out;
    transform: rotateZ(2deg);
}

.container:hover{
    cursor: pointer;
    /*background-color: var(--color-white-100);*/
    opacity: 1;
    transform: rotateZ(0deg);
    transform: scale(1.05);
}

.preview-img{
    display: block;
    width: 100%;
    min-height: var(--min-height);
    object-fit: cover;
}

.icon-bottom{
    display: block;
    width: 40px;
    position: absolute;
    bottom: 0;
    right: 2rem;
    transition: all 300ms ease-in-out;
}

.container:hover>a>img.icon-bottom{
    width: 70px;
}