.container{
    --color-000: #ffffff;
    --color-100: #ebe3db;
    --color-300: #a79b90;
    --color-500: #9b8977;
    --color-700: #58483b;
    --color-900: #1a1714;
    --color-1000: #000000;
    --shadow-color: hsla(0, 0%, 0%, 0.2);
    --min-height: 200px;
    --max-width: 600px;
    background-color: transparent;
    max-width: var(--max-width);
    min-height: var(--min-height);
    box-shadow: 0px 0px 10px var(--shadow-color);
    position: relative;
}

.container:hover{
    cursor: pointer;
    background-color: var(--color-000);
}

.container:hover .icon-div>span{
    color: darkgrey;
}

.preview-img{
    display: block;
    width: 100%;
    min-height: var(--min-height);
    object-fit: cover;
}

.icon-div{
    position: absolute;
    bottom: 0;
    right: 0;
}
.icon-div>span{
    color: lightgrey;
}