:root{
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-minimalist-100: #F8F8F8;
    --color-minimalist-200: #EBEBEB;
    --color-minimalist-300: #DADADA;
    --color-minimalist-400: #BBBBBB;
    --color-minimalist-500: #9B9B9B;
    --color-minimalist-600: #707070;
    --color-minimalist-700: #595959;
    --color-minimalist-800: #404040;
    --color-minimalist-900: #1E1E1E;
}

.btn{
    border: 1px solid dodgerblue;
    padding: 1rem 1.5rem;
    background-color: rgba(30, 143, 255, 0.808);
    font-family: "PT Sans", sans-serif;
    font-size: clamp(1rem, 4vw + 1rem, 1.5rem);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    color: var(--color-white-100);
    transition: all 350ms ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.btn:hover, .btn:focus{
    cursor: pointer;
    background-color: whitesmoke;
    color: var(--color-black-900);
    border: 1px solid whitesmoke;
    box-shadow: 0 0 30px 1px whitesmoke;
}

@media(max-width: 940px){
    .btn{
        padding: .5rem .75rem;
        font-size: clamp(1rem, 3vw + .5rem, 1.2rem);
    }
}

@media(max-width: 560px){
    .btn{
        padding: .5rem .75rem;
        font-size: clamp(.5rem, 2vw + .5rem, 1rem);
    }

}