body {
    margin: 0;
    color: black;
    background-color: whitesmoke;
}

.layout {
    position: relative;
    width: auto;
}

.navBar,
.footer-content {
    width: auto;
    height: 3rem;
    padding-left: 6rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.navBar>div,
.footer-top>div {
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar>div>img,
.footer-top>div>img {
    width: 100%;
    height: 100%;

}

h4 {
    font-weight: 500;
}

.content {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 5px 20vw;
}

.image-top {
    z-index: 1;
    max-height: 100px;


}

.image-top>img {
    transform: translateY(-50%);
    width: 100%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;


}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.headline>h1 {
    margin: 0;
    color: white;
    z-index: 2;
}

.middle {
    background-color: whitesmoke;
    padding-top: 0;
    transform: translateY(-10%);
    margin-top: 30%;
}

.middle>h1 {
    font-weight: 400;

}

.card-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    gap: 1rem;

}


.content-area {
    display: flex;
    width: 100%;
    margin-top: 5rem;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.mini-photo {
    flex: 1;
}

.mini-photo>img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.text-right-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.text-right-side>h2,
h4 {
    margin: 0;
}


.footer {
    background-color: darkblue;
    margin-top: 10rem;
    min-height: 220px;
}

.curve-footer {
    position: absolute;
    height: 225px;
    width: 100%;
    top: 0;
    left: 0;
}

.curve-footer::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 100%;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    transform: translate(0%, -50%);
    z-index: -1;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-top {
    gap: 5rem;
}


@media(min-width: 780px) {
    .image-top {
        max-height: 300px;
        position: relative;
        z-index: 1;
    }

    .image-top>img {
        position: relative;
        transform: translateY(-45%);
        width: 100%;
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;

    }

    .headline {
        position: absolute;
        top: 15vh;
        left: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

@media(min-width: 1200px) {
    .card-collection {
        width: auto;
        max-width: 60vw;
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(4, 1fr);
        background-color: rgba(0, 0, 0, 0);
        z-index: 3;
        position: absolute;
        top: 150%;
        margin-top: 0;
    }

    .headline {
        position: absolute;
        top: 15vh;
        left: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


}

@media(max-width: 1200px) {
    .middle {
        margin-top: 100%;
    }
}

@media(max-width: 930px) {
    .headline {
        flex-wrap: wrap;
    }

    .middle {
        margin-top: 120vw;
    }
}

@media(max-width: 780px) {
    .headline {
        margin-top: -55%;
    }

    .middle {
        margin-top: 180vw;
    }

    .footer-content {
        gap: 1rem;
    }

    .footer-top,
    .footer-bottom {
        flex-wrap: wrap;
        gap: 1rem;

    }

}