:root{
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-minimalist-100: #F8F8F8;
    --color-minimalist-200: #EBEBEB;
    --color-minimalist-300: #DADADA;
    --color-minimalist-400: #BBBBBB;
    --color-minimalist-500: #9B9B9B;
    --color-minimalist-600: #707070;
    --color-minimalist-700: #595959;
    --color-minimalist-800: #404040;
    --color-minimalist-900: #1E1E1E;
}

.container{
    position: relative;
    z-index: 1;
    opacity: 0.9;
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
}

.container:hover, .container:focus{
    cursor: pointer;
    z-index: 2;
    opacity: 1;
}

.container:hover>img, .container:focus>img{
    scale: 1.1;
}

.container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 350ms ease-in-out;
}

.group-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.group-container>button{
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.group-container>div, .group-container>a>div{
    border-radius: 50%;
    padding: .5rem;
    background-color: var(--color-white-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-container>button>div{
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inactive, .unfavorite{
    background-color: var(--color-white-100);
}

.active{
    background-color: rgba(0, 128, 255, 0.658);
}

.favorite{
    background-color: rgba(255, 0, 0, 0.671);
}

.group-container>a{
    color: var(--color-black-900);
}

.group-container>div>*, .group-container>a>div>*, .group-container>button>div, .group-container>button>div>*{
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, font-size 350ms ease-in-out;
}

.group-container>div:hover>*, .group-container>div:focus>*, .group-container>a>div:hover>*, .group-container>a>div:focus>*, .group-container>button>div:hover>*, .group-container>button>div:focus>*{
    font-size: 48px;

}

.group-container>button:hover, .group-container>button:focus{
    cursor: pointer;
}

.group-container>button:active>div{
    animation: scale 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(1.2);
    }
    90%{
        transform: scale(1);
    }
}