:root {
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-font-secondary: orangered;
    --color-font-secondary-plus: #000552;
    --color-minimalist-100: #dbdbdb;
    --color-minimalist-300: #a7c8ee;
    --color-minimalist-500: #57a3fa;
    --color-minimalist-700: #0073f7;
    --padding-inline: clamp(2rem, 1vw + 1rem, 6rem);
}

.destinations-container{
    font-family: "DM Sans", sans-serif;
}

.destinations-upper-container{
    background-color: var(--color-minimalist-300);
    padding: 8rem 10rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card{
    flex: 1;
    opacity: 0;
}

.in-between{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.vertical-line-top{
    width: 1px;
    height: 200px;
    background-color: var(--color-font-secondary-plus);

}

.small-text{
    font-size: 1rem;
    line-height: 1;
    color: var(--color-font-secondary-plus);
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-font-secondary-plus);
    text-align: center;
}

.large-text{
    font-size: 3rem;
    line-height: 1;
    color: var(--color-font-secondary-plus);
    text-align: center;
}

.vertical-line-bottom{
    width: 1px;
    height: 300px;
    background-color: var(--color-font-secondary-plus);
}

.destinations-bottom-container{
    background-color: var(--color-minimalist-100);
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.sub-header{
    font-size: 1.2rem;
    line-height: 1;
    color: var(--color-black-900);
    text-align: center;
    margin-inline: 30rem;
}

.small-horizontal-line{
    width: 100px;
    height: 1px;
    background-color: var(--color-black-900);
}

.header{
    font-size: 3rem;
    line-height: 1;
    color: var(--color-black-900);
    text-align: center;
    margin-inline: 30rem;
}

.destination-group{
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.individual-group{
    display: flex;
    gap: 2rem;
    /*background-color: var(--color-black-900);*/
    /*background-image: linear-gradient(to bottom right, #023bf7, #161c2c, #000000);*/
    /*background-color: #0028ad;*/
    /*background-color: var(--color-white-100);*/
    /*background-image: linear-gradient(to bottom right, #023bf7, #001761);*/
    padding: 4rem;
    /*border-radius: 8px;*/
    border-bottom: 1px solid var(--color-font-secondary-plus);
}

.individual-group:nth-child(1){
    border-top: 1px solid var(--color-font-secondary-plus);   
}

.img-container{
    flex: 2;
}

.img-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-container>h2{
    font-size: 2.5rem;
    line-height: 1;
    color: var(--color-minimalist-700);
}

.small-img-container{
    width: 100%;
    height: 100%;
}

.small-img-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content-container>p{
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1;
    color: var(--color-black-900);
}

.header-bottom{
    font-size: 3rem;
    line-height: 1;
    color: var(--color-black-900);
    text-align: center;
    margin-inline: 25rem;
}

@media screen and (max-width: 1200px){
    .destinations-upper-container{
        background-color: var(--color-minimalist-300);
        padding: 10rem var(--padding-inline);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .vertical-line-top{
        width: 1px;
        height: clamp(50px, 20vw + 1px, 200px);
        background-color: var(--color-font-secondary-plus);
    }

    .vertical-line-bottom{
        margin-bottom: 3rem;
        width: 1px;
        height: clamp(50px, 20vw + 1px, 200px);
        background-color: var(--color-font-secondary-plus);
    }

    .large-text{
        font-size: clamp(1rem, 8vw + .2rem, 3rem);
        line-height: 1;
        color: var(--color-font-secondary-plus);
        text-align: center;
        margin-inline: 20rem;
    }

    .header{
        font-size: clamp(1rem, 8vw + .2rem, 3rem);
        line-height: 1;
        color: var(--color-black-900);
        text-align: center;
        margin-inline: 30rem;
    }

    .individual-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 4rem;
        border-bottom: 1px solid var(--color-font-secondary-plus);
    }
    
    .content-container>h2{
        font-size: clamp(1.5rem, 6vw + .2rem, 3.5rem);
        line-height: 1;
        color: var(--color-minimalist-700);
    }

    .header-bottom{
        font-size: clamp(1rem, 8vw + .2rem, 3rem);
        line-height: 1;
        color: var(--color-black-900);
        text-align: center;
        margin-inline: 25rem;
    }

}