:root{
    --color-100: #ebe3db;
    --color-300: #757473;
    --color-500: #665f59;
    --color-700: #58483b;
    --color-900: #1a1714;
    --color-1000: #000000;
}

.navBar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem 1rem;
    background-color: var(--color-900);
    color: var(--color-100);
}

.navBar-container-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar-btn{
    border-style: none;
    background-color: var(--color-900);
    color: var(--color-300);
    font-family: "Six Caps", sans-serif;
    font-family: "Merriweather", serif; 
    transition: all ease-in-out 250ms;
}

.navBar-btn:hover, .navBar-btn:focus{
    cursor: pointer;
    color: var(--color-100);
}

.navBar-btn>h4{
    font-size: .8rem;
    font-weight: 100;
}

.hero-section{
    background-color: var(--color-900);
}