:root{
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-minimalist-100: #F8F8F8;
    --color-minimalist-200: #EBEBEB;
    --color-minimalist-300: #DADADA;
    --color-minimalist-400: #BBBBBB;
    --color-minimalist-500: #9B9B9B;
    --color-minimalist-600: #707070;
    --color-minimalist-700: #595959;
    --color-minimalist-800: #404040;
    --color-minimalist-900: #1E1E1E;
}

.homePage-container{
    background-color: var(--color-minimalist-100); 
    display: grid;
    grid-template-areas: 
    ". . . navbar"
    "hero hero hero hero"
    "about about about about"
    "projects projects projects projects"
    "contact contact contact contact"; 
}

.navBar-container{
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: var(--color-minimalist-100);
    color: var(--color-900);
}

.navBar-container-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar-btn{
    border-style: none;
    background-color: var(--color-minimalist-100);
    color: var(--color-minimalist-800);
    font-family: "PT Sans", sans-serif;
    transition: all ease-in-out 250ms;
}

.navBar-btn:hover, .navBar-btn:focus{
    cursor: pointer;
    color: var(--color-minimalist-600);
}

.navBar-btn>h4{
    font-size: 12px;
}

.hero-section{
    grid-area: hero;
    background-color: var(--color-minimalist-100);
    min-height: 600px;
    padding: 1rem;
}

.about-section{
    grid-area: about;
    background-color: var(--color-minimalist-900);
    min-height: 600px;
    padding: 1rem;
}

.projects-section{
    grid-area: projects;
    background-color: var(--color-minimalist-900);
    min-height: 600px;
    padding: 1rem;
}

.contact-section{
    grid-area: contact;
    background-color: var(--color-minimalist-100);
    min-height: 600px;
    padding: 1rem;

}