:root{
    --color-100: #ebe3db;
    --color-300: #737375;
    --color-500: #595b66;
    --color-700: #3b4258;
    --color-900: #161819;
    --color-1000: #000000;
}

.homePage-container{
    background-color: var(--color-900); 
    display: grid;
    grid-template-areas: 
    "sideBar . . navbar"
    "sideBar hero hero hero"
    "sideBar profile profile profile"
    "sideBar contact contact contact"; 
}

.fixed-sideBar{
    grid-area: sideBar;
    position: fixed;
}

.fixed-sideBar:hover, .fixed-sideBar:focus{
    cursor: pointer;
}

.fixed-sideBar:hover .main-picture, .fixed-sideBar:focus .main-picture{
    opacity: 0.9;
}

.main-picture{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    grid-area: picture;
    transition: all ease-in-out 300ms;
}

.navBar-container{
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-900);
    color: var(--color-100);
}

.navBar-container-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar-btn{
    border-style: none;
    background-color: var(--color-900);
    color: var(--color-300);
    font-family: "Six Caps", sans-serif;
    font-family: "Merriweather", serif; 
    transition: all ease-in-out 250ms;
}

.navBar-btn:hover, .navBar-btn:focus{
    cursor: pointer;
    color: var(--color-100);
}

.navBar-btn>h4{
    font-size: .8rem;
    font-weight: 100;
}

.hero-section{
    grid-area: hero;
    background-color: var(--color-900);
    min-height: 600px;
    padding: 1rem;
}

.profile-section{
    grid-area: profile;
    background-color: var(--color-900);
    min-height: 600px;
    padding: 1rem;
}

.contact-section{
    grid-area: contact;
    background-color: var(--color-900);
    min-height: 600px;
    padding: 1rem;

}