:root{
    --color-white-100: #FFFFFF;
    --color-black-900: #000000;
    --color-minimalist-100: #F8F8F8;
    --color-minimalist-200: #EBEBEB;
    --color-minimalist-300: #DADADA;
    --color-minimalist-400: #BBBBBB;
    --color-minimalist-500: #9B9B9B;
    --color-minimalist-600: #707070;
    --color-minimalist-700: #595959;
    --color-minimalist-800: #404040;
    --color-minimalist-900: #1E1E1E;
}

.navBar-container{
    display: flex;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
    background-color: whitesmoke;
}

.navBar-left{
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.navBar-left>div, .navBar-left>a{
    flex: 1;
}

.go-back-btn{
    border: none;
    background-color: whitesmoke;
}

.go-back-btn:hover, .go-back-btn:focus{
    cursor: pointer;
}

.go-back-btn:hover>*, .go-back-btn:focus>*{
    color: rgb(25, 118, 210);

}

.go-back-btn>*{
    transition: all 350ms ease-in-out;
}

.navBar-right{
    display: flex;
    gap: 2rem;
    flex: 10;
    justify-content: flex-end;
    align-items: center;
}

.navBar-left>a, .navBar-right>a{
    text-decoration: none;
    color: var(--color-black-900);
}

.navBar-search-container{
    display: flex;
    border-bottom: 1px solid darkgrey;
    padding: .2rem;
}

.navBar-search-container:focus-within{
    border-bottom: 1px solid rgb(25, 118, 210);
}

.navBar-search-container:focus-within>span{
    color: rgb(25, 118, 210);

}

.navBar-search-container>input{
    border-style: none;
    background-color: whitesmoke;
}

.navBar-search-container>input:focus{
    outline: none;
}

